/* Navbar.css */
.navbar {
  height: 4rem; /* 16 x 1rem */
  background-color: #0b2545; /* Dark blue, same as sidebar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 16rem; /* space for sidebar */
  right: 0;
  z-index: 10;
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  transition: left 0.3s ease-in-out;
}

.navbar-title {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600;
  color: white; /* white text */
}

.navbar-user {
  font-size: 0.875rem; /* text-sm */
  color: #fdfdff; /* lighter blue text for contrast */
  margin-right: 30px;
  padding: 8px 8px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  width: 80px;
  border: 1px solid #fdfdff; /* lighter blue border */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    left: 0; /* No sidebar width on mobile */
    width: 100%;
  }
}
